.ag-theme-custom {
    background-color: #f8f8f8;
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  .ag-header-cell-label {
    font-weight: bold;
    color: #333;
  }
  
  .ag-row {
    &:hover {
      background-color: #e0e0e0;
    }
  }
    